

.formPersonal {
        width: 500px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }

div.Logo {position: fixed;
    top:10%;
    left:30%;
    width:350px; font-size: 100px;
}

div.statement {position: fixed; top:45%; left:30%; font-size:20px}



label{
    display: inline-block;
    float: left;
    clear: left;
    width: 175px;
    text-align: right; 
}

label1{
    display: inline-block;
    float: left;
    clear: left;
    width: 175px;
    text-align: right; 
}


div.animate form {position: fixed; top: 53%; left:30%}

div.DJUtop {color: white; vertical-align: center; font-size: 30px; margin-left: 10px; }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

.menubar {
position:relative;
z-index:1000;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: cadetblue;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}



div.profileheading {margin-top: 300px;}




.numberpubs {
margin-left: 100px; position: static; margin-top: 45px; font-size: 20px}

.numbercites {
margin-left: 100px; position: static; margin-top: 40px; font-size: 20px}

.rcorners2 {
    border-radius: 25px;
    border: 5px solid #73AD21;
    padding: 20px; 
    width: 30px;
    height: 10px;    
}

body {color:dimgrey; font-family: calibri}
h1 {font-size: 30px}
/*

.triup {
    width: 0; 
    height: 0; 
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    border-bottom: 83px solid black;
    position:relative;
}
.triup:after{
    content:'';
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 80px solid white;  
    position:absolute;
    top:0px;
    left:-50px;
}
	
.tridown {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 80px solid red;
	background-color: transparent
}
*/

.circular {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: lightblue;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: static;
	margin-top: 100px;
 	margin-left: 340px;
	}

div.username {font-size: 20px; font-weight:bold;}


div.container {
    width:1024px; 
    overflow: visible;
	position: absolute;
  top: 90%;

}

div.table-div {
    width:300px;
    float:left;
    margin:0px 0px 0px 20px;
	
}





	